*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 40% 30%;
    height: 100vh;
    text-align: center;
    line-height: 110px;
    background-image: url("meteo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
}
#box{
    grid-row: 2;
    grid-column: 2;
    background-color: rgba(127, 127, 185, 0.383);
    height: 350px;
    width: 380px;
    margin: auto;
    box-shadow: 0px 0px 20px black;
    border-radius: 10px;
}
h1{
    font-size: 50px;
    color:rgb(37, 28, 101)
}
label{
    font-size: 25px;
}
input, select{
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}
#box_result{
    grid-row: 2;
    grid-column: 2;
    margin: auto;
}
button{
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
h2{
    display: none;
    text-align: center;
    font-size: 50px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 15px;
    opacity: 80%;
}
#return{
    display: none;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.313);
    background-color: rgba(0, 0, 0, 0.544);
    color: rgb(197, 197, 197);
}
#return:hover{
    background-color: rgba(0, 0, 0, 0.821);
    color: white;
}